{% block body %}

	<div class="container-fluid mt-2">
		<div class="row">
			<div class="col-6">
				<a href="{{ path('index') }}">
					<img src="../images/logo.png" width="275" class="img-fluid" alt="Broisin Pictures">
				</a>
			</div>
			<div class="col-6">
				{% if not app.user %}
					<p class="m-0 text-end">
						<a href="{{ path('signin') }}">Se connecter</a>
					</p>
				{% else %}
					<p class="m-0 text-end">Bienvenue
						<strong>{{ app.user.name }}</strong>
						!</p>
					<p class="m-0 text-end">
						<a href="/logout">Se déconnecter</a>
					</p>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
